/* global styles */
html, body {
    margin: 0;
    padding: 0;
}
html{
    font-family: verdana, arial, sans-serif;
    color: #444;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin: 0 -25px;
}
h4 {
    color: #aaa;
}
header {
    background-color: #0266b2;
    padding: 15px 20px;
}
header a {
    color: #fff;
    text-decoration: none;
}
header a:hover {
    color: #ddd;
}
.externalHeaderLinks {
    float: right;
    font-size: 0.8em;
}
footer {
    margin-top: 25px;
    border-top: 1px solid #999;
    padding: 10px;
    background-color: #024d84;
    font-size: 0.8em;
    text-align: right;
    color: #999;
    font-size: 0.8em;
}
footer a {
    color: #999;
    font-size: 1em;
}
body > section {
    overflow: hidden;
    margin: 30px 20px 20px 20px;
}
label {
    display: block;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
li {
    margin: 5px 0;
}

a {
    font-size: 1.1em;
}
iframe {
    border: none;
    width: 100%;
    height: 380px;
}

thead {
    background-color: #eee;
}

td {
    border: 1px solid #666;
    padding: 10px;
}
section {
    padding: 0 25px;
}

.floatChildsLeft {
    overflow: hidden;    
}

.floatChildsLeft > div {
    float: left;
    margin-right: 100px;
}